html, body {
  width: 100%;
  height: 100%;
}

body {
  display: table;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  color: #ffffff;

  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.filter {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);
}

.content {
  position: relative;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.name {
  font-weight: 300;
  letter-spacing: 8px;
}

.links {
  position: relative;
  display: block;
  width: 275px;
  height: 40px;
  margin: 0 auto;
}

.links:before,
.links:after {
  position: absolute;
  display: block;
  content: '';
  width: 50px;
  height: 4px;
  top: 16px; /* 40px/2 - 4px */
  background: rgba(150, 150, 150, 0.6);
}

.links:before {
  left: 0;
  margin-right: 10px;
}

.links:after {
  right: 0;
  margin-left: 10px;
}

  .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

    .links ul li {
      display: inline-block;
      margin: 0 5px;
    }

      .links ul li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;

        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;

        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

        .links ul li a:hover {
          background: rgba(0, 0, 0, 1);
        }

.icon {

}

.tagline {
  font-weight: 100;
  letter-spacing: 1px;
}